.container {
  position: relative;

  .header {
    display: flex;
    align-items: center;
    gap: var(--size-md);

    .colleague {
      display: flex;
      flex-direction: column;
    }

    > img {
      height: 50px;
      border-radius: 50%;
    }
  }

  .translatedIcon {
    position: absolute;
    right: 0;
    top: 0;
  }

  p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 14;
    -webkit-box-orient: vertical;
  }
}
