.container {
  position: relative;

  .header {
    display: flex;
    align-items: center;
    gap: var(--size-md);

    .colleague {
      display: flex;
      flex-direction: column;
    }

    > img {
      border-radius: 50%;
    }
  }

  .translatedIcon {
    position: absolute;
    right: 0;
    top: 0;
  }
}
