.container {
  width: 100%;
  overflow-x: scroll;

  &.hasTiltingChildren {
    position: relative;

    padding-block: var(--size-sm);
    padding-inline: var(--size-sm);

    left: calc(var(--size-sm) * -1);
    width: calc(100% - var(--size-sm));
  }

  &::-webkit-scrollbar {
    display: none;
  }

  scrollbar-width: none;
}
