.container {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;

  &.hasTiltingChildren {
    position: relative;

    padding-block: var(--size-sm);
  }

  &::-webkit-scrollbar {
    display: none;
  }
  scrollbar-width: none;
}

.navigationContainer {
  display: flex;
  margin-block-start: var(--size-sm);

  button {
    all: unset;
    display: flex;
    align-items: center;
    gap: var(--size-sm);

    svg {
      height: var(--icon-size);
    }

    &:hover {
      cursor: pointer;
      user-select: none;
      text-decoration: underline;
    }

    &.right {
      margin-inline-start: auto;
    }
  }
}
