.container {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;

  &.hasTiltingChildren {
    position: relative;

    padding-block: var(--size-sm);
  }

  &::-webkit-scrollbar {
    display: none;
  }
  scrollbar-width: none;
}

.navigationContainer {
  overflow: hidden;
  position: relative;
  padding: var(--size-xs);
  border-radius: var(--size-sm);
  margin-block-start: var(--size-md);
  background-color: var(--color-white-transparent);

  .progressBar {
    top: 0;
    left: 0;
    height: 100%;
    position: absolute;
    background: var(--color-progress-bar-background);
  }
}
