@import "/src/styling/variables.module.scss";

.container {
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  border: 1px var(--color-card-border) solid;
  border-radius: var(--size-sm);
  padding-inline: var(--size-lg);
  padding-block: var(--size-lg);
  user-select: none;

  .content {
    text-align: center;

    .expandIcon {
      border-radius: var(--size-xs);
      padding: var(--size-sm);
      background-color: var(--color-icon-background);
      position: absolute;
      top: var(--size-sm);
      right: var(--size-sm);

      path {
        fill: var(--color-icon);
      }
    }

    .logo {
      height: 80%;
      max-height: 125px;
      margin-block-end: var(--size-sm);
    }

    .subtitle {
      font-weight: 400;
      display: block;
      font-size: var(--font-size-md);
    }

    h3,
    .subtitle {
      color: var(--color-image-overlay-text);
    }
  }

  &:hover {
    filter: none;
    cursor: pointer;
    transform: scale(1.02);

    .logo {
      transform: scale(1.1);
    }
  }
}
