.containerWrapper {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
}

.containerWrapper > .background {
  z-index: 1;
  padding: 50px;
  max-width: 100vw;
  position: absolute;
  border-radius: 50%;
  background: var(--color-popup-background);
  animation: animateBackground 1500ms forwards;
}

.containerWrapper > .container {
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  position: relative;
  padding-block: var(--size-2xl);

  &::-webkit-scrollbar {
    display: none;
  }
  scrollbar-width: none;
}

@keyframes animateBackground {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(100);
  }
}

.container {
  > section {
    margin-block-end: var(--size-xl);
  }

  .topBar {
    display: flex;
    justify-content: space-between;
    margin-block-end: var(--size-md);

    button {
      all: unset;
      display: flex;
      align-items: center;
      gap: var(--size-sm);

      svg {
        height: var(--icon-size);
      }

      &:hover {
        cursor: pointer;
        user-select: none;
        text-decoration: underline;
      }

      strong {
        color: var(--color-success);
      }
    }
  }

  .floatingTopBar {
    top: 0;
    left: 0;
    position: fixed;
    left: auto;
    width: calc(var(--container-size-lg) - (var(--size-md) * 2));
    display: flex;
    justify-content: space-between;
    z-index: 1;

    & > * {
      padding: var(--size-md);
      font-size: var(--font-size-2xl);
      transition: all 200ms ease-out;

      &.outbound {
        path {
          color: var(--color-success);
        }

        transform: rotate(45deg);
      }

      &:hover {
        transform: rotate(90deg);
        cursor: pointer;
      }
    }
  }

  .headerContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    width: 100%;
    padding-block: var(--size-lg);
    border-radius: var(--size-sm);
    border: var(--color-card-border);
    background-size: cover;
    background-position: center center;

    & > .headerContent > * {
      margin-block-end: var(--size-sm);
    }

    .subtitle {
      font-weight: 400;
      display: block;
      font-size: var(--font-size-md);
    }

    .metaContainer {
      display: flex;
      gap: var(--size-md);

      > span {
        display: flex;
        align-items: center;
        gap: var(--size-xs);
      }
    }
  }

  .content {
    display: grid;
    gap: var(--size-lg);
    grid-template-columns: 1.5fr 1fr;

    > * {
      display: flex;
      gap: var(--size-lg);
      flex-direction: column;
    }
  }

  .responsibilities {
    margin: 0;
    padding-inline-start: 14px;

    & > *:not(:last-child) {
      margin-block-end: var(--size-sm);
      line-height: 1.8;
    }
  }

  .technologiesContainer {
    display: flex;
    gap: var(--size-lg);
    flex-direction: column;
  }
}
