.container {
  --headshot-image-size: 125px;

  h1 {
    strong {
      font-weight: 700;
    }
  }

  h2 {
    font-weight: 400;
    margin-block-start: var(--size-sm);

    .subtitle {
      font-weight: 400;
      display: block;
      font-size: var(--font-size-md);
    }
  }

  .headshot {
    text-align: center;

    img {
      inline-size: var(--headshot-image-size);
      block-size: var(--headshot-image-size);
      border-radius: calc(var(--headshot-image-size) / 2);
    }
  }

  > *:not(:last-child) {
    margin-block-end: var(--size-xl);
  }
}
