.container {
  & > *:not(:last-child) {
    margin-block-end: var(--size-lg);
  }

  .projects {
    display: flex;
    position: relative;
    gap: var(--size-md);

    .project {
      width: 200px;
      aspect-ratio: 1;
    }
  }
}
