.dark {
  --color-primary-text: #ffffff;
  --color-image-overlay-text: #ffffff;

  --color-icon: #000000;
  --color-icon-background: #ffffff;

  --color-success: #5cb85c;

  --color-card-background: #2e2e2e60;
  --color-card-border: #3c3c3c;

  --color-popup-background: linear-gradient(to bottom, #210000, #150000);

  --color-progress-bar-background: linear-gradient(to right, #4b134f, #c94b4b);
  --color-progress-bar-container: rgba(255, 255, 255, 0.5);

  --background-image: url("/public/images/global/background.jpg");
  --color-page-background: #000000;
}

.light {
  --color-primary-text: #000000;
  --color-image-overlay-text: #ffffff;

  --color-icon: #000000;
  --color-icon-background: #fefefe;

  --color-success: #5cb85c;

  --color-card-background: #fefefe60;
  --color-card-border: #fefefe;

  --color-popup-background: linear-gradient(to bottom, #e2e2e2, #ffffff);

  --color-progress-bar-background: linear-gradient(to right, #4b134f, #c94b4b);
  --color-progress-bar-container: rgba(255, 255, 255, 0.5);

  --background-image: url("/public/images/global/background-light.jpg");
  --color-page-background: #ffffff;
}
