$breakpoint-sm: 768px;

:root {
  --size-xs: 4px;
  --size-sm: 8px;
  --size-md: 16px;
  --size-lg: 32px;
  --size-xl: 48px;
  --size-2xl: 96px;

  --font-size-xs: 12px;
  --font-size-sm: 14px;
  --font-size-md: 16px;
  --font-size-lg: 20px;
  --font-size-xl: 30px;
  --font-size-2xl: 46px;

  --icon-size: 20px;

  --container-size-lg: 940px;
}
