:root {
  --color-text-white: #ffffff;

  --color-success: #5cb85c;

  --color-card-background: #2e2e2e60;
  --color-card-border: #3c3c3c;

  --color-popup-background: linear-gradient(to bottom, #210000, #150000);
}
