:root {
  --color-text-white: #ffffff;

  --color-success: #5cb85c;

  --color-card-background: #2e2e2e60;
  --color-card-border: #3c3c3c;

  --color-popup-background: linear-gradient(to bottom, #210000, #150000);

  --size-xs: 4px;
  --size-sm: 8px;
  --size-md: 16px;
  --size-lg: 32px;
  --size-xl: 48px;
  --size-2xl: 96px;

  --font-size-sm: 14px;

  --container-size-lg: 940px;
}
