.container {
  display: flex;
  gap: var(--size-sm);
  flex-direction: column;
  align-items: center;

  .imageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--size-xl);
    height: var(--size-xl);
    border-radius: 50%;
    background-color: var(--color-white);

    img {
      width: 50%;
      height: 50%;
      object-fit: contain;
    }
  }

  .label {
    text-align: center;
    font-size: var(--font-size-xs);

    &.highlighted {
      font-weight: bold;
    }
  }
}
