.button {
  all: unset;
  display: flex;
  align-items: center;
  user-select: none;
  margin: var(--size-md) auto 0;

  top: var(--size-md);
  border-radius: var(--size-sm);
  padding: var(--size-sm);

  &:hover {
    cursor: pointer;
  }

  &.light {
    span path {
      fill: purple;
    }

    background-color: var(--color-page-background);
  }

  &.dark {
    span path {
      fill: yellow;
    }
  }

  background-color: var(--color-page-background);
}
