@import "/src/styling/variables.module.scss";

.container {
  padding-block-start: var(--size-2xl);

  & > * {
    margin-block-end: var(--size-2xl);
  }

  @media screen and (max-width: $breakpoint-sm) {
    padding-block-start: var(--size-lg);
  }
}
